/*  your css code here. If applicable */
* {
  background-color: #f5f5f5;
}
.author {
  text-align: right;
  font-style: italic;
}
#section1, #section2{
  border: 2px solid #ccc;
  padding: 5px;
  background-color: white;
}

div>p{
	background-color: white;
}
