/*  your css code here. If applicable */
* {
  background-color: #f5f5f5;
}
.author {
  text-align: right;
  font-style: italic;
}
section {
  border: 2px solid #ccc;
  padding: 5px;
  background-color: white;
}

section>p{
	background-color: white;
}
